/* <div class="audioContolerContainer">
                <h3>Audio</h3>
                <audio id="audioMusica" src="music/music5.mp3"></audio>
                <button id="audioMusicaPlay">Play</button>
                <button id="audioMusicaPause">Pause</button>
                <button id="audioMusicaLoop">Loop (Sim)</button>
                <button id="muteMusica">Mute (Não)</button>
                <button id="mudarMusica">Próxima => </button>
            </div> */
#audioControlerButton, .audioControler button {
    border: none;
    margin-top: 10px;
    padding: 10px 10px;
    background-color: rgb(0 0 0 / 0%);
    color: rgb(255 255 255);
    border: 2px double rgb(211 211 211 / 16%);
}

.audioControlerContainer {
    margin-top: 20px;
    border: 1px double white;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.audioControlerContainer .audioControler {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: center;
}
.audioControlerContainer .tituloDaMusica {
    text-align: center;
}
.volumeControlerContainer {
    border: 1px double white;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
input[type=range] {
    width: 100%;
    /* height: 0.5em; */
    /* left: 4em; */
    border-radius: 5px;
    background-color: #888888;
    outline: none;
}
::-webkit-slider-thumb{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: white;
      border: 2px solid white;
}
.audioControlerEsconder {
    display: none;
    visibility: none;
}
.audioControlerMobile {
    display: block;
    visibility: visible;
}

@media(max-width: 768px) {
    #audioControlerButton {
        display: block;
        visibility: 100%;
        text-align: center;
        margin-top: 20px;
        width: 100%;
        padding: 6px;
        text-align: center;
    }
}