/* <div class="audioContolerContainer">
                <h3>Audio</h3>
                <audio id="audioMusica" src="music/music5.mp3"></audio>
                <button id="audioMusicaPlay">Play</button>
                <button id="audioMusicaPause">Pause</button>
                <button id="audioMusicaLoop">Loop (Sim)</button>
                <button id="muteMusica">Mute (Não)</button>
                <button id="mudarMusica">Próxima => </button>
            </div> */

.audioContolerContainer {
    margin-top: 20px;
    border: 1px double white;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.audioContolerContainer .audioControler {
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    /* align-items: center; */
}
.audioContolerContainer .tituloDaMusica {
    text-align: center;
}