* {
    color: white;
}
html {
    /* background: rgb(55, 55, 55); */
    background-image: url("backgroud.png");
}
input {
    /* background: darkslategrey; */
    outline: none;
    background: rgb(0, 0, 0);
    margin-bottom: 10px;
}
textarea {
    background: rgb(0, 0, 0);
    color: lime;
    outline: none;
    margin-bottom: 10px;
}
header {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
main {
    display: flex;
    justify-content: space-around;
}
button {
    background-color: rgb(56, 56, 56);
    border: 2px solid white;
    color: white;
    outline: none;
}
h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
}


.section1 {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

/* Seção de Block */
/* .sectionBlocks {
    background-image: url("backgroud.png");
} */
.blocks {
    display: flex;
    justify-content: space-around;
}
.bloco {
    border: 2px solid red;
    width: 75%;
    padding: 10px;
    background: rgb(41, 41, 41);
}
.blockHeader {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}
/* .optionBlock {
    background: lightgray;
} */
.optionBlockSection {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}
.optionBlockSection p {
    display: flex;
    flex-direction: column;
}
.blockStats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.statsUni {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}
.statsUni input {
    width: 80%;
}
.comandoStats {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
.comandoStats input {
    width: 80%;
}

#section3 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#saidaJSON {
    width: 90%;
    height: 400px;
}










/* Alto nível de prioridade */
.esconder {
    display: none;
    visibility: none;
}